body {
    font-size: 12pt;
    margin: 10%;
}

input {
    font-size: 12pt;
}

img.ignore-keyword {
    height: 32px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

tr.odd {
    background-color: white;
}

tr.even {
    background-color: #eeeeee;
}

td {
    padding: 5px;
}

a.page {
    padding: 3px;
}

div.pagination a {
    text-decoration: none;
    color: black;
}

div.pagination span.current {
    font-size: larger;
    font-weight: bold;
}

div.pagination a.next {
    margin-left: 30px;
}

div.pagination a.prev {
    margin-right: 30px;
}

div.pagination {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#matcher-table table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#matcher-table td.keyword-count {
    width: 15%;
}

#matcher-table td.keyword {
    width: 35%;
}

#matcher-table td.freebase-concept {
    width: 40%;
}

#matcher-table tr {
    border-bottom: thin solid #eeeeee;
}

#matcher-table th {
    text-align: left;
    border-bottom: thin solid #eeeeee;
}

img.freebase-thumbnail {
    height: 100px;
    margin-right: 20px;
    vertical-align: middle;
}

img.freebase-icon {
    height: 20px;
    vertical-align: middle;
}

div[itemprop="title"] {
    font-size: larger;
    font-weight: bold;
}

input[class="title"] {
    width: 80%;
}

header {
    font-size: 16pt;
    font-weight: bold;
    margin: 10px;
}

article header {
    margin-bottom: 10px;
    width: 100%;
}

article.job {
    margin: 10px;
}

section.job-description {
    border: thin solid red;
}

section.job-details {
    padding-left: 80px;
    border: thin solid red;
}

[contenteditable] {
    border: thin solid gray;
    padding: 2px;
}
