img.freebase-thumbnail {
    height: 50px;
    padding: 5px;
    margin-right: 10px;
    vertical-align: middle;
    border: thin solid #eeeeee;
    float: left;
}

img.freebase-icon {
    height: 20px;
    vertical-align: middle;
}

[contenteditable] {
    border: thin solid gray;
    padding: 2px;
}

img.avatar {
    vertical-align: middle;
    margin-right: 15px;
}

img.tiny-avatar {
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.social-providers {
    text-align: right;
}

.social-providers li {
    list-style: none;
}

ul.tags {
    list-style: none;
}

ul.tags li {
    display: inline;
    margin-left: 0px;
    line-height: 2em; 
}

li.label {
    background-color: #ffffcc;
}

span.label.ft {
    background-color: blue;
}

span.label.pt {
    background-color: gray;
}

span.label.co {
    background-color: yellow;
    color: black;
}

span.label.tm {
    background-color: orange;
}

span.label.rp {
    background-color: #ffd700;
}

span.label.in {
    background-color: green;
}

td.social-small {
    text-align: center;
}

td.social-small li {
    display: inline;
}

td.social-small img {
    height: 20px;
}

img.delete {
    height: 20px;
    background-color: white;
    text-decoration: none;
    vertical-align: middle;
}

th.numeric {
    text-align: right;
    width: 85px;
}

td.numeric {
    text-align: right;
}

#employer-description {
  clear: both;
  padding-top: 10px;
}

#subject-description {
  clear: both;
  padding-top: 10px;
}

dd {
  -webkit-margin-start: 0px;
}

.jobinfo {
  border-left: thin solid #eeeeee;
  padding-left: 15px;
}

h3 {
  margin-bottom: 0;
}

#recent_jobs {
  font-size: 10pt;
  padding: 10px;
}

#recent_jobs {
  margin-top: 25px;
  border: thin solid #eeeeee;
  display: none;
}

#recent_jobs h4 {
  font-size: 12pt;
  font-weight: bold;

}

