body {
    color: black;
    font-size: 10pt;
}

#content {
    padding-top: 60px;
}

img.ignore-keyword {
    height: 32px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

tr.odd {
    background-color: white;
}

tr.even {
    background-color: #eeeeee;
}

td {
    padding: 5px;
}

a.page {
    padding: 3px;
}

div.pagination a {
    text-decoration: none;
    color: black;
}

div.pagination span.current {
    font-size: larger;
    font-weight: bold;
}

div.pagination a.next {
    margin-left: 30px;
}

div.pagination a.prev {
    margin-right: 30px;
}

div.pagination {
    margin-left: auto;
    margin-right: auto;
}

#matcher-table table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#matcher-table td.keyword-count {
    width: 15%;
}

#matcher-table td.keyword {
    width: 35%;
}

#matcher-table td.freebase-concept {
    width: 40%;
}

#matcher-table tr {
    border-bottom: thin solid #eeeeee;
}

#matcher-table th {
    text-align: left;
    border-bottom: thin solid #eeeeee;
}

img.freebase-thumbnail {
    height: 50px;
    padding: 5px;
    margin-right: 10px;
    vertical-align: middle;
    border: thin solid #eeeeee;
}

img.freebase-icon {
    height: 20px;
    vertical-align: middle;
}

div[itemprop="title"] {
    font-size: larger;
    font-weight: bold;
}

input[class="title"] {
    width: 80%;
}

header {
    font-size: 16pt;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

article header {
    margin-bottom: 10px;
    width: 100%;
}

article.job {
    margin: 10px;
}

section[itemtype="description"] {
    color: black;
}

section[itemtype="description"] * {
    color: black;
}

section.job-details {
    padding-left: 80px;
    border: thin solid red;
}

[contenteditable] {
    border: thin solid gray;
    padding: 2px;
}

img.avatar {
    vertical-align: middle;
    margin-right: 15px;
}

img.tiny-avatar {
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.social-providers li {
    list-style: none;
}

.bigtext p {
    font-size: larger;
    line-height: 130%;
}

.bigtext li {
    font-size: larger;
    line-height: 130%;
}

.gplus-like {
    padding: 5px 0px 25px 0px;
}

ul.tags {
    list-style: none;
}

ul.tags li {
    display: inline;
    margin-left: 0px;
}

li.label {
    background-color: #ffffcc;
}

span.label.ft {
    background-color: blue;
}

span.label.pt {
    background-color: gray;
}

span.label.co {
    background-color: yellow;
    color: black;
}

span.label.tm {
    background-color: orange;
}

span.label.rp {
    background-color: #ffd700;
}

span.label.in {
    background-color: green;
}

td.social-small {
    text-align: center;
}

td.social-small li {
    display: inline;
}

td.social-small img {
    height: 20px;
}

img.delete {
    height: 20px;
    background-color: white;
    text-decoration: none;
    vertical-align: middle;
}

li {
    color: black;
}

.brand {
    font-weight: bold;
}

section li {
    color: black;
}

section p {
    color: black;
}

th.numeric {
    text-align: right;
    width: 85px;
}

td.numeric {
    text-align: right;
}
