{% extends "site.html" %}

{% block title %}Curate{% endblock %}

{% block content %}

<div class="row bigtext" style="margin-top: 30px;">

    <div class="span4 offset2">
        <img width="340" src="/static/images/catalog.jpg">
        <figcaption style="text-align: center">
        <a href="http://www.flickr.com/photos/christchurchcitylibraries/3190424730/">Brian Gilberthorpe</a> by Christchurch City Libraries
        </figcaption>
    </div>

    <div class="span5">
        <p>
        Thanks for clicking on the Curate tab, because like this cataloger
        on the left we could use your help! 
        </p>

        <p>
        <a href="http://jobs.code4lib.org">jobs.code4lib.org</a> 
        automatically pulls job postings from the 
        <a href="http://dewey.library.nd.edu/mailing-lists/code4lib/">code4lib discussion list</a>,
        <a href="http://joblist.ala.org/news/">American Library Association</a>,
        <a href="http://www.cla.ca/AM/Template.cfm?Section=Job_Search&Template=/CM/HTMLDisplay.cfm&ContentID=1964">Canadian Library Association</a>,
        <a href="http://www.alia.org.au/">Australian Library and Information Association</a>,
        <a href="http://www.higheredjobs.com/">HigherEd Jobs</a>, 
        <a href="http://digital-scholarship.org/digitalkoans/">Digital Koans</a>,
        <a href="http://www.idealist.org/">Idealist</a> and
        <a href="http://archivesgig.livejournal.com/">ArchivesGig</a>. If 
        there are other appropriate job sources please let us know at 
        <a href="https://github.com/code4lib/shortimer/issues">Github</a> 
        by opening a feature request.
        </p>

        <p>
        These job postings are put into a <a href="{% url curate_drafts %}">queue</a> where they wait for someone like you to make sure that the posting:
        <ul>
            <li>has not alread been posted (there's a fair bit of cross-pollination)</li>
            <li>is relevant for the code4lib community</li>
            <li>is assigned to an employer</li>
            <li>contains a significant amount of the origin text of the
            announcement</li>
            <li>has useful tags (from <a href="http://freebase.com">Freebase</a>) assigned to it</li>
        </ul>
        </p>
        
        {% if not user.is_authenticated %}
        <p>In order to curate job postings you will need to 
        <a href="{% url login %}?next={% url curate %}">login</a>. 
        So go and do that first, and come right back and we'll get started.
        </p>

        {% else %}
        <p>
        Right now <a href="{% url curate_drafts %}">{{ need_publish }}</a> job{{ need_publish|pluralize }} need{{ need_publish|pluralize:"s," }} to be looked over and published, and  <a href="{% url curate_employers %}">{{ need_employer }}</a> job{{ need_employer|pluralize }} need to be assigned an employer. Please help if you can!
        </p>
        {% endif %}

        <br>
        <br>
        <br>
    </div>

</div>

{% endblock %}
