{% extends "site.html" %}

{% block title %}Curate{% endblock %}

{% block content %}

<div class="row bigtext" style="margin-top: 30px;">

    <div class="span1">&nbsp;</div>
    <div class="span6">
        <img width="340" src="/static/images/catalog.jpg">
        <figcaption style="text-align: center">
        <a href="http://www.flickr.com/photos/christchurchcitylibraries/3190424730/">Brian Gilberthorpe</a> by Christchurch City Libraries
        </figcaption>
    </div>

    <div class="span7">
        <br>
        <br>
        <br>
        <p>
        Thanks for clicking on the Curate tab because like this cataloger
        on the left we could use your help! 
        </p>

        <p>
        <a href="http://jobs.code4lib.org">jobs.code4lib.org</a> 
        automatically pulls job postings from the code4lib discussion list.
        This means data entry of the job text, who the posting is from, and 
        when it was posted can be done automatically using metadata in the 
        email. We even automatically assign tags to postings using keywords
        from the job description.
        </p>
        
        <p>
        But we need <em>people like you</em> to reliably evaluate these tags, 
        assign employers, locations, etc. You might have a little 
        bit of fun in the process since we use 
        <a href="http://freebase.com">Freebase</a> as a pool of entities 
        to use in our descriptions.
        </p>
        
        <p>
        This page can be used 
        to identify and view job postings that could really use some of your 
        organizational <em>mad skillz</em>. OK, here we go...
        </p>

        {% if not user.is_authenticated %}
        <p>In order to curate job postings you will need to 
        <a href="{% url login %}?next={% url curate %}">login</a>. 
        So go and do that first, and come right back and we'll get started.
        </p>

        {% else %}

        <p>
            <span style="color: red">{{ need_employer }}</span> 
            jobs need to be assigned an employer
            &nbsp;
            &nbsp;
            &nbsp;
            <a href="{% url curate_employers %}">
                <button class="btn primary">Start</button>
            </a>
        </p>

        {% endif %}

        <br>
        <br>
        <br>
    </div>

</div>

{% endblock %}
