{% extends "site.html" %}

{% block title %}Curate{% endblock %}

{% block content %}

<div class="row bigtext">

    <div class="span4">&nbsp;</div>
    <div class="span8">
        <br>
        <br>
        <br>
        <p>
        Thanks for clicking on the Curate tab because we need your help!
        </p>

        <p>
        <a href="http://jobs.code4lib.org">jobs.code4lib.org</a> is able
        to automatically pull job postings from the code4lib discussion list.
        This means data entry of the job text, who it was from, and when
        it was posted can be done automatically using metadata in the email.
        </p>
        
        <p>
        When this happens we also automatically assign tags to postings. 
        But we need <em>people like you</em> to reliably evaluate these tags, 
        assign employers, locations, etc. Incidentally you might have a little 
        bit of fun in the process since we use 
        <a href="http://freebase.com">Freebase</a> as a pool of entities 
        to use in our descriptions.
        </p>
        
        <p>
        This page can be used 
        to identify and view job postings that could really use some of your 
        organizational <em>mad skillz</em>. OK, here we go...
        </p>

        {% if not user.is_authenticated %}
        <p>In order to curate job postings you will need to 
        <a href="{% url login %}?next={% url curate %}">login</a>. 
        So go and do that first, and come right back and we'll get started.
        </p>

        {% else %}

        <p>
            <span style="color: red">{{ need_employer }}</span> 
            jobs need to be assigned an employer
            &nbsp;
            &nbsp;
            &nbsp;
            <a href="{% url curate_employers %}">
                <button class="btn primary">Start</button>
            </a>
        </p>

        {% endif %}

        <br>
        <br>
        <br>
    </div>

</div>

{% endblock %}
