{% extends "site.html" %}

{% block title %}{{ employer.name }}{% endblock %}

{% block content %}
<div class="span10 offset1">
<table class="table table-striped">
    <header data-freebase-id="{{ employer.freebase_id }}" class="employer">
    {% if employer.freebase_id %}<a href="{{ employer.freebase_url }}" class="hidden-phone"><img class="freebase-thumbnail" src="{{ employer.freebase_image_url }}"></a>{% endif %}
    <h3>{{ employer.name }} Jobs</h3>
    <small>{{ employer.display_location }}</small>
    <p class="hidden-phone" id="employer-description"></p>
    </header>
    <tr class="hidden-phone">
        <th style="width: 85px;">Posted</th>
        <th>Title</th>
        <th style="width: 45%">Tags</th>
        <th>Type</th>
    </tr>
{% for job in employer.jobs.all %}
    <tr>
        <td class="hidden-phone">{{ job.post_date.date }}</td>
        <td><a href="{% url job job.id %}">{{ job.title }}</a></td>
        <td class="hidden-phone">
            <ul class="tags">
                {% for subject in job.subjects.all %}
                <li class="label"><a href="{% url jobs_by_subject subject.slug %}">{{ subject.name }}</a></li>
                {% endfor %}
            </ul>
        </td>
        <td class="hidden-phone">
            <span class="label {{ job.job_type }}">{{ job.get_job_type_display }}</span>
        </td>
    </tr>
{% endfor %}
</table>
{% include "paginator.html" %}
</div>
{% endblock %}

{% block extra_javascript %}
<script>

    function lookupEmployer() {
        var employer = $(".employer")[0];
        if (! employer) return;
        var freebaseId = $(employer).data("freebase-id");
        var freebaseUrl = "http://www.freebase.com/experimental/topic/standard" + freebaseId + "?callback=?";
        $.getJSON(freebaseUrl, function(response) {
            if (! response.result.description) return
            var desc = 
                response.result.description + 
                '<a href="' + response.result.url + '">' + 
                '<img class="freebase-icon" src="/static/images/freebase.jpg"></a>';
            $("#employer-description").html(desc);
        });
    }

    $(document).ready(lookupEmployer);
</script>
{% endblock %}


