{% extends "site.html" %}

{% block title %}Employers{% endblock %}

{% block content %}
<div class="row">
<div class="span8 offset2">
<table class="table table-striped table-bordered">
    <tr>
        <th>Employer</th>
        <th>Jobs</th>
        <th>Location</th>
    </tr>
{% for employer in page.object_list %}
    <tr>
        <td>
            <a href="{% url "employer" employer.slug %}">{{ employer.name }}</a> 
        </td>
        <td>{{ employer.num_jobs }}</td>
        <td>
          {% if employer.display_location %}
          {{ employer.display_location }}
          {% else %}
            {% if employer.frebase_id %}
            <small><a href="{{ employer.freebase_url }}">Can you add the location in Freebase?</a></small>
            {% endif %}
          {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% include "paginator.html" %}
</div>
</div>

{% endblock %}
