{% extends "site.html" %}

{% block title %}{{ job.title }} - {{ job.employer.name }}{% endblock %}

{% block content %}

<article itemscope itemtype="http://schema.org/JobPosting" id="jobeditor">

    <div class="page-header">
      <h2 itemprop="title">{{ job.title }}</h2>
      {% if job.employer %}
      <div itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
        <a itemprop="url" href="{% url "employer" job.employer.slug %}"><span itemprop="name">{{ job.employer.name }}</span></a>
        {% if job.location %}
        - 
        <a itemprop="location" href="{{ job.location.freebase_url }}">{{ job.display_location }}</a>
        {% endif %} 
      </div>
      {% endif %}
    </div>

    <div class="row">
    <section class="span9" itemprop="description">
        {{ job.description|safe }}
    </section>
    <section class="jobinfo span3">
       <dl>
            <dt>Job Type:</dt>
            <dd itemprop="employmentType"><span class="label {{ job.job_type }}">{{ job.get_job_type_display }}</span></dd>
            <dt>Telecommute:<dt>
            <dd>
            {% if job.telecommute %}Yes{% else %}No{% endif %}
            </dd>
            {% if job.url %}
            <dt>Job URL:</dt>
            <dd><a itemprop="url" href="{{ job.url }}">{{ job.url|urlizetrunc:40 }}</a></dd>
            {% endif %}
            <dt>Posted:</dt>
            <dd itempromp="datePosted"><time datetime="{{ job.post_date|date:"Y-m-d" }}">{{ job.post_date }}</time></dd>
            {% if job.page_views %}
            <dt>Page Views:</dt>
            <dd>{{ job.page_views }}</dd>
            {% endif %}
            {% if job.close_date %}
            <dt>Closes:</dt>
            <dd><time>{{ job.close_date }}</dd>
            {% endif %}
            {% if job.contact_name or job.contact_email %}
            <dt>Contact:</dt>
            <dd><a href="mailto:{{ job.contact_email }}">{% if job.contact_name %}{{ job.contact_name }}{% else %}{{ job.contact_email }}{% endif %}</a></dd>
            {% endif %}
            {% if job.salary_start and job.salary_end %}
            <dt>Salary:</dt>
            <dd>{{ job.salary_start }} - {{ job.salary_end }}</dd>
            {% endif %}
            <dt>Tags:</dt>
            <dd>
                <ul class="tags">
                    {% for subject in job.subjects.all %}
                    <li class="label" itemprop="skills"><a href="{% url "jobs_by_subject" subject.slug %}">{{ subject.name }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
        <br>
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <br>
        <div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
        <br>
        <div class="gplus-like">
            <div class="g-plusone" data-size="medium" data-annotation="inline"></div>
            <script type="text/javascript">
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
            </script>
        </div>
        <br>
        <br>
        {% if request.user.is_authenticated %}
        <a rel="nofollow" href="{% url "job_edit" job.id %}">
            <button class="btn primary">Edit</button>
        {% endif %}
     </section>
    </div>
</article>

{% endblock %}

{% block extra_javascript %}
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=352748954751141";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
