{% extends "site.html" %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var config = {
            height: 400,
            width: 600,
            toolbar_Full: [['Bold', 'Italic', 'Underline', 'SpellChecker']]
        };
        $('textarea.editor').ckeditor(config);
    });
</script>
{% endblock %}

{% block content %}

<div itemscope itemtype="http://schema.org/JobPosting" id="jobeditor">
    Title: <input type="text" class="title" value="{{ job.title }}"><br>
    <span editable=true>URL:</span><br>
    Post Date:<br>
    Close Date:<br>
    Contact Name:<br>
    Contact Email:<br>
    Salary Start:<br>
    Salary End:<br>
    Job Type:<br>
    Employer:<br>
    <textarea class="editor" itemprop="description">
        {{ job.description_html|safe }}
    </textarea>
    Tags: {% for subject in job.subjects.all %}<a href="{% url subject subject.slug %}">{{ subject.name }}</a> {% endfor %}
</div>

{% endblock %}
