{% extends "site.html" %}

{% block title %}Edit{% endblock %}

{% block content %}

{% if error %}
<div style="color: red; font-weight: bold;">{{ error }}</div>
{% endif %}

<form id="job" method="post">
    <article itemscope itemtype="http://schema.org/JobPosting" id="jobeditor">
    <div class="row">
      <div class="span6 offset1">
      <input placeholder="Enter just the job title here, the employer name comes
    from dropdown: e.g. Web Developer" style="width: 100%;" size="200" type="text" name="title" value="{{ job.title }}">
      </div>
    </div>
    <div class="row">
    <section class="span6 offset1">
        {% if can_edit_description %}
        <textarea name="description" class="editor" itemprop="description">
            {% if job.description %}
            {{ job.description|safe }}
            {% else %}
            &nbsp;
            {% endif %}
        </textarea>
        {% else %}
        <div placeholder="foo" name="description" itemprop="description">
            {% if job.description %}
            {{ job.description|safe }}
            {% else %}
            &nbsp;
            {% endif %}
        </div>
        {% endif %}
    </section>
    <section class="span3">
        <dl>
            <dt>Job Type:</dt>
            <dd itemprop="employmentType">
                <select name="job_type">
                {% for code, value in job_types %}
                <option value="{{ code }}" {% ifequal code job.job_type %}selected{% endifequal %}>{{ value }}</option>
                {% endfor %}
            </select>
            </dd>
            <dt>Employer:</dt>
            <dd itemprop="hiringOrganization">
            <input placeholder="University of Example" type="text" name="employer" id="employer" value="{{ job.employer.name }}"></input>
            <input type="hidden" name="employer_freebase_id" value="{{ job.employer.freebase_id }}" id="employer_freebase_id"></input>
            </dd>
            <dt>Location:</dt>
            <dd itemprop="jobLocation">
            <input placeholder="Centerville" type="text" name="location" id="location" value="{{ job.location.name }}"></input>
            <input type="hidden" name="location_freebase_id" value="{{ job.location.freebase_id }}" id="location_freebase_id"></input>
            </dd>
            {% if job.post_date %}
            <dt>Posted:</dt>
            <dd itemprop="datePosted"><time>{{ job.post_date }}</time></dd>
            {% endif %}
            {% if job.published %}
            <dt>Published:</dt>
            <dd><time>{{ job.published }}</time></dd>
            {% endif %}
            <dt>Contact Name:</dt>
            <dd><input placeholder="Joan Doe" type="text" name="contact_name" value="{{ job.contact_name }}"></input></dd>
            <dt>Contact Email:</dt>
            <dd><input placeholder="joan@example.edu" type="text" name="contact_email" value="{{ job.contact_email }}"></input></dd>
            {% if job.origin_url %}
            <dt>Origin URL:</dt>
            <dd><a href="{{ job.origin_url }}">{{ job.origin_url }}</a></dd>
            {% endif %}
            <dt itempropr="url">Job URL:</dt>
            <dd><input placeholder="http://example.edu/jobs/1234/" type="url" name="url" value="{{ job.url }}"></input></dd>
            <dt>Tags:</dt>
            <dd>
                <ul class="tags" style="margin: 0 0 10px 5px;" itemprop="skills">
                    {% if job.created %}
                    {% for subject in job.subjects.all %}
                    <li style="margin: 0 0 10px 0px;">
                    <input class="subject" style="width: 80%;" type="text" name="subject_{{ forloop.counter0 }}" value="{{ subject.name }}"></input>
                    <i class="remove-subject icon-trash" data-pos="{{ forloop.counter0 }}"></i>
                    <input type="hidden" type="text" name="subject_freebase_id_{{ forloop.counter0 }}" value="{{ subject.freebase_id }}"</input>
                    </li>
                    {% endfor %}
                    {% endif %}
                    <input style="width: 80%" class="subject-new" type="text" name="subject_new" placeholder="Add a new tag!"></input>
                </ul>
            </dd>
        </dl>
        <br>
        {% if curate_next %}
        <button name="action" value="next" class="btn primary">Curate Next</button>
            {% if not job.published %}
            <button name="action" value="delete" class="btn danger">Delete</button>
            {% endif %}
        {% else %}
        <p>
        <button name="action" value="save" class="btn primary">Save</button>
        <button name="action" value="autotag" class="btn warning">AutoTag</button>
        <button name="action" value="view" class="btn">View</button>
        </p>
        {% if job.id and not job.published %}
        <p>
        <button name="action" value="publish" class="btn success">Publish</button>
        <button name="action" value="delete" class="btn danger">Delete</button>
        </p>
        {% endif %}
        {% endif %}
        <br>
        <br>

        <dl>
            <dt>Edit History:</dt>
            <dd>
            <ul>
                {% for edit in job.edits.all %}
                <li><a href="{% url user edit.user.username %}">{{ edit.user.username }}</a> on {{ edit.created }}</li>
                {% endfor %}
            </ul>
            </dd>
        </dl>

    </section>
    </div>
</article>
<input type="hidden" name="job_id" value="{{ job.id }}"></input>
{% csrf_token %}
</form>
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">
    function freebaseURL(id) {
        return "http://www.freebase.com/experimental/topic/standard" + id;
    }

    function addEmployer(e, data) {
        $("#employer_freebase_id").val(data.id);
        $.getJSON("/api/v1/guess_location?freebase_id=" + data.id, function(city) {
            $("#location").val(city.name);
            $("#location_freebase_id").val(city.freebase_id);
        });
    }

    function addLocation(e, data) {
        $("#location_freebase_id").val(data.id);
    }

    function addSubject(e, data) {
        var i = $(".subject").length;

        var name = $('<input class="subject" type="text">');
        name.attr("name", "subject_" + i);
        name.attr("value", data.name);

        var freebaseId = $('<input type="hidden">');
        freebaseId.attr("name", "subject_freebase_id_" + i);
        freebaseId.attr("value", data.id);

        $(".subject-new").before(name).after(freebaseId);
        $('[name="subject_new"]').val(null);
    }

    function updateSubject(e, data) {
        var name = $(this).attr("name");
        var freebaseId = name.replace(/subject_/, "subject_freebase_id_");
        $('[name="' + name +'"]').attr("value", data.name);
        $('[name="' + freebaseId + '"]').attr("value", data.id);
    }

    function removeSubject() {
        var i = $(this).data("pos");
        $('[name="subject_' + i + '"]').remove();
        $('[name="subject_freebase_id_' + i + '"]').remove();
        $(this).remove();
        return false;
    }

    $(document).ready(function() {
        // set up ckeditor panel for job description
        var config = {
            height: 1800,
            enterMode: CKEDITOR.ENTER_BR,
            shiftEnterMode: CKEDITOR.ENTER_P,
            forcePasteAsPlainText: true, 
            toolbar_Full: [['Bold', 'Italic', 'Underline', 'Link',
            "BulletedList", "Indent", "Outdent", "RemoveFormat", "Paste", "Undo", "Redo", "ShowBlocks"]]
        };
        $("textarea.editor").ckeditor(config);

        // set up employer freebase suggest lookup
        $("#employer")
            .suggest({
                "key": "{{ google_api_key }}",   
                "type": ["/business/employer", "/business/company", "/education/university", "/organization/organization", "/venture_capital", "/computer/software_developer", "/library/public_library", "/internet/website", "/architecture/museum", "/location/location", "/people/person"],
                "type_strict": "any",
                "suggest_new": "Click here if you don't see anything in list."
            })
            .bind("fb-select", addEmployer)
            .click(function(e) {$(this).trigger("keyup");});

        // set up location freebase suggest lookup
        $("#location")
            .suggest({
                "key": "{{ google_api_key }}",   
                "filter": '(all type:/location/citytown)',
                "type_strict": "any",
            })
            .bind("fb-select", addLocation)
            .click(function(e) {$(this).trigger("keyup");});

        // wire up new subject box
          $("input.subject-new")
            .suggest({"key": "{{ google_api_key }}", "required": "always"})
            .bind("fb-select", addSubject);

        // wire up existing subject boxes so they can be updated
        $("input.subject")
            .suggest({"key": "{{ google_api_key }}", "required": "always"})
            .bind("fb-select", updateSubject);

        $(".remove-subject").click(removeSubject);
            
    });
</script>
{% endblock %}
