{% extends "site.html" %}

{% block title %}Edit{% endblock %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="/static/css/suggest.min.css">
<script type="text/javascript" src="/static/js/suggest.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">
    function addEmployer(e, data) {
        $("#employer_freebase_id").val(data.id);
    }

    function addSubject(e, data) {
        var i = $(".subject").length;

        var name = $('<input class="subject" type="text">');
        name.attr("name", "subject_" + i);
        name.attr("value", data.name);

        var freebaseId = $('<input type="hidden">');
        freebaseId.attr("name", "subject_freebase_id_" + i);
        freebaseId.attr("value", data.id);

        $(".subject-new").before(name).after(freebaseId);
        $('[name="subject_new"]').val(null);
    }

    function updateSubject(e, data) {
        var name = $(this).attr("name");
        var freebaseId = name.replace(/subject_/, "subject_freebase_id_");
        $('[name="' + name +'"]').attr("value", data.name);
        $('[name="' + freebaseId + '"]').attr("value", data.id);
    }

    function removeSubject() {
        var i = $(this).val();
        $('[name="subject_' + i + '"]').remove();
        $('[name="subject_freebase_id_' + i + '"]').remove();
        $(this).remove();
        return false;
    }

    $(document).ready(function() {
        // set up ckeditor panel for job description
        var config = {
            height: 1800,
            toolbar_Full: [['Bold', 'Italic', 'Underline', 'SpellChecker', 'Link', "BulletedList", "NumberedList"]]
        };
        $("textarea.editor").ckeditor(config);

        // set up employer freebase suggest lookup
        $("#employer")
            .suggest({
                "type": ["/business/employer", "/business/company", "/education/university", "/organization/organization", "/venture_capital"],
                "type_strict": "any",
                "suggest_new": "Click here if you don't see anything in list."
            })
            .bind("fb-select", addEmployer)
            .click(function(e) {$(this).trigger("keyup");});

        // wire up new subject box
        $("input.subject-new")
            .suggest({"required": "always"})
            .bind("fb-select", addSubject);

        // wire up existing subject boxes so they can be updated
        $("input.subject")
            .suggest({"required": "always"})
            .bind("fb-select", updateSubject);

        $(".remove-subject").click(removeSubject);
            
    });
</script>
{% endblock %}

{% block content %}

<form id="job" method="post">
    <article itemscope itemtype="http://schema.org/JobPosting" id="jobeditor">
    <header>
    <input type="text" size="200" name="title" class="span10" value="{{ job.title }}">
    </header>
    <div class="row">
    <section class="span11">
        {% if user.is_staff %}
        <textarea name="description" class="editor" itemprop="description">
            {{ job.description_html|safe }}
        </textarea>
        {% else %}
        <div name="description" itemprop="description">
            {{ job.description_html|safe }}
        </div>
        {% endif %}
    </section>
    <section class="span5">
        <dl>
            <dt>Job Type:</dt>
            <dd itemprop="employmentType">{{ job.get_job_type_display }}</dd>
            <dt>Employer:</dt>
            <dd itemprop="hiringOrganization">
            <input type="text" name="employer" id="employer" value="{{ job.employer.name }}"></input>
            <input type="hidden" name="employer_freebase_id" value="{{ job.employer.freebase_id }}" id="employer_freebase_id"></input>
            </dd>
            <dt>Posted:</dt>
            <dd itemprop="datePosted"><time>{{ job.post_date }}</time></dd>
            {% if job.published %}
            <dt>Published:</dt>
            <dd><time>{{ job.published }}</time></dd>
            {% endif %}
            <dt>Closes:</dt>
            <dd><time>{{ job.close_date }}</dd>
            <dt>Contact Name:</dt>
            <dd><input type="text" name="contact_name" value="{{ job.contact_name }}"></input></dd>
            <dt>Contact Email:</dt>
            <dd><input type="text" name="contact_email" value="{{ job.contact_email }}"></input></dd>
            <dt>Salary:</dt> 
            <dd>{{ job.salary_start }} - {{ job.salary_end }}</dd>
            <dt itempropr="url">Job URL:</dt>
            <dd><input type="url" name="url" value="{{ job.url }}"></input></dd>
            <dt>Tags:</dt>
            <dd>
                <ul class="tags" itemprop="skills">
                    {% for subject in job.subjects.all %}
                    <li>
                    <input class="subject" type="text" name="subject_{{ forloop.counter0 }}" value="{{ subject.name }}"></input>
                    <button class="remove-subject" value="{{ forloop.counter0 }}"><img class="delete" src="{{ STATIC_URL }}/images/delete.png"></button>
                    <input type="hidden" type="text" name="subject_freebase_id_{{ forloop.counter0 }}" value="{{ subject.freebase_id }}"</input>
                     </li>
                    {% endfor %}
                    <input class="subject-new" type="text" name="subject_new" placeholder="Add a new tag!"></input>
                </ul>
            </dd>
        </dl>
        <br>
        {% if curate_employers %}
        <button name="action" value="next" class="btn primary">Curate Next</button>
        {% else %}
        {% if not job.published %}
        <button name="action" value="publish" class="btn success">Publish</button>
        {% endif %}
        <button name="action" value="save" class="btn primary">Save</button>
        <button name="action" value="view" class="btn">View</button>
        {% endif %}
        <br>
        <br>

        <dl>
            <dt>Edit History:</dt>
            <dd>
            <ul>
                {% for edit in job.edits.all %}
                <li>{{ edit.user.username }} on {{ edit.created }}</li>
                {% endfor %}
            </ul>
            </dd>
        </dl>

    </section>
    </div>
</article>
<input type="hidden" name="job_id" value="{{ job.id }}"></input>
{% csrf_token %}
</form>

{% endblock %}
