{% extends "site.html" %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="/static/css/suggest.min.css">
<script type="text/javascript" src="/static/js/suggest.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">
    function addEmployer(e, data) {
        $("#employer_freebase_id").val(data.id);
    }
    $(document).ready(function() {
        var config = {
            height: 800,
            toolbar_Full: [['Bold', 'Italic', 'Underline', 'SpellChecker', 'Link', "BulletedList", "NumberedList"]]
        };
        $('textarea.editor').ckeditor(config);
        $('#employer')
            .suggest({
                "type": ["/business/company", "/education/university"],
                "type_strict": "any",
                "suggest_new": "Click here if you don't see anything in list."
            })
            .bind("fb-select", addEmployer)
            .click(function(e) {$(this).trigger("keyup");});
    });
</script>
{% endblock %}

{% block content %}

<form method="post">
<article itemscope itemtype="http://schema.org/JobPosting" id="jobeditor">
    <header>
    <input type="text" size="200" name="title" class="span10" value="{{ job.title }}">
    </header>
    <div class="row">
    <section class="span10">
        <textarea name="description" class="editor" itemprop="description">
            {{ job.description_html|safe }}
        </textarea>
    </section>
    <section class="span6">
        <dl>
            <dt>Job Type:</dt>
            <dd itemprop="employmentType">{{ job.get_job_type_display }}</dd>
            <dt>Employer:</dt>
            <dd itemprop="hiringOrganization">
            <input type="text" name="employer" id="employer" value="{{ job.employer.name }}"></input>
            <input type="hidden" name="employer_freebase_id" value="{{ job.employer.freebase_id }}" id="employer_freebase_id"></input>
            </dd>
            <dt itempropr="url">URL:</dt>
            <dd><input type="url" name="url" value="{{ job.url }}"></input></dd>
            <dt>Posted:</dt>
            <dd itempmropr="datePosted"><time>{{ job.post_date }}</time></dd>
            <dt>Closes:</dt>
            <dd><time>{{ job.close_date }}</dd>
            <dt>Contact:</dt>
            <dd><a href="mailto:{{ job.contact_email }}">{{ job.contact_name }}</a></dd>
            <dt>Salary:</dt>
            <dd>{{ job.salary_start }} - {{ job.salary_end }}</dd>
            <dt>Tags:</dt>
            <dd>
                <ul class="tags" itemprop="skills">
                    {% for subject in job.subjects.all %}
                    <li class="label"><a href="{% url jobs_by_subject subject.slug %}">{{ subject.name }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
        <button name="action" value="save" class="btn primary">Save</button>
        <button name="action" value="view" class="btn">View</button>
        <button name="action" value="delete" class="btn">Delete</button>
    </section>
    </div>
</article>
{% csrf_token %}
</form>

{% endblock %}
