{% extends "site.html" %}

{% block content %}
<table class="zebra-striped bordered-table">
    {% if subject %}
    <header>
    <img class="freebase-thumbnail" src="{{ subject.freebase_image_url }}">
    {{ subject.name }}
    </header>
    {% endif %}
    <tr>
        <th>Posted</th>
        <th>Title</th>
    </tr>
{% for job in jobs %}
    <tr>
        <td>{{ job.post_date }}</td>
        <td><a href="{% url job job.id %}">{{ job.title }}</a></td>
    </tr>
{% endfor %}
</table>
{% include "paginator.html" %}
{% endblock %}
