{% extends "site.html" %}

{% block title %}Jobs{% endblock %}

{% block extra_head %}
<script>

    function lookupSubject() {
        var subject = $(".subject")[0];
        if (! subject) return;
        var freebaseId = $(subject).data("freebase-id");
        var freebaseUrl = "http://www.freebase.com/experimental/topic/standard" + freebaseId + "?callback=?";
        $.getJSON(freebaseUrl, function(response) {
            if (! response.result.description) return
            var desc = 
                response.result.description + 
                '<a href="' + response.result.url + '">' + 
                '<img class="freebase-icon" src="/static/images/freebase.jpg"></a>';
            $(".subject-description").html(desc);
        });
    }

    $(document).ready(lookupSubject);
</script>
{% endblock %}

{% block content %}
<table class="zebra-striped bordered-table">
    {% if subject %}
    <header data-freebase-id="{{ subject.freebase_id }}" class="subject">
    <a href="{{ subject.freebase_url }}"><img class="freebase-thumbnail" src="{{ subject.freebase_image_url }}"></a>
    <span class="subject-name">{{ subject.name }} Jobs</span><br>
    <p class="subject-description"></p>
    </header>
    {% endif %}
    <tr>
        <th style="width: 85px;">Posted</th>
        <th>Title</th>
        <th style="width: 45%">Tags</th>
    </tr>
{% for job in jobs %}
    <tr>
        <td>{{ job.post_date.date }}</td>
        <td><a href="{% url job job.id %}">{{ job.title }}</a> {% if job.employer %} at {{ job.employer.name }}{% endif %}</td>
        <td>
            <ul class="tags">
                {% for subject in job.subjects.all %}
                <li class="label"><a href="{% url jobs_by_subject subject.slug %}">{{ subject.name }}</a></li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>
{% include "paginator.html" %}
{% endblock %}
