{% extends "site.html" %}

{% block content %}

<div class="row">
    <div class="span3">&nbsp;</div>
    <div id="logininfo" class="span10">
        <br>
        <br>
        <p>
        If you would like to be able to post a job you'll need to log in.
        You probably don't want to create <em>another</em> username and 
        password; and you probably already have an account on Github, Twitter, 
        Facebook or LinkedIn right?
        </p>

        <p>
        So go ahead and log in with one of those by clicking on one of the 
        icons below:
        </p>
    
        <br>

        <a href="{% url socialauth_begin "twitter" %}"><img src="{{ STATIC_URL }}/images/auth/twitter_128.png"></a>
        <a href="{% url socialauth_begin "facebook" %}"><img src="{{ STATIC_URL }}/images/auth/facebook_128.png"></a>
        <a href="{% url socialauth_begin "linkedin" %}"><img src="{{ STATIC_URL }}/images/auth/linkedin_128.png"></a>
        <a href="{% url socialauth_begin "github" %}"><img src="{{ STATIC_URL }}/images/auth/github_128.png"></a>

        <br>
        <br>

    </div>
</div>

{% endblock %}
