{% extends "site.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="row">
    <div class="span4 offset4">
        <br>
        <br>
        <br>
        <p>
        If you would like to be able to post a job you'll need to log in.
        You probably don't want to create <em>another</em> username and 
        password; and you probably already have an account on Twitter or 
        Facebook, right?
        </p>

        <p>
        So go ahead and log in with one of those by clicking on one of the 
        icons below:
        </p>
    
        <br>
        <br>

        <div style="text-align: center;">
            <a href="{% url "social:begin" "twitter" %}?next={{ next }}"><img src="{{ STATIC_URL }}/images/auth/twitter_64.png"></a>
            <a href="{% url "social:begin" "facebook" %}?next={{ next }}"><img src="{{ STATIC_URL }}/images/auth/facebook_64.png"></a>
            <!-- 
            <a href="{% url "social:begin" "linkedin" %}?next={{ next }}"><img src="{{ STATIC_URL }}/images/auth/linkedin_64.png"></a>
            <a href="{% url "social:begin" "github" %}?next={{ next }}"><img src="{{ STATIC_URL }}/images/auth/github_64.png"></a>
            -->
            <a href="{% url "social:begin" "google-oauth2" %}?next={{ next }}"><img src="{{ STATIC_URL }}/images/auth/google_64.png"></a>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
</div>

{% endblock %}
