{% extends "site.html" %}

{% block title %}Map of recent jobs with location data{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="http://leaflet.github.com/Leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="http://leaflet.github.com/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <style>
        #map {height: 500px; width: 100%;}
    </style>


{% endblock extra_head %}

{% block content %}

    <div id="map-wrapper">
        <div id="map" class="map"></div>
    </div>


{% endblock content %}

{% block extra_javascript %}
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<script src="/static/js/maps.js"></script>
<script src="http://leaflet.github.com/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
<script src="{% url "map_data" %}"></script>
{% endblock extra_javascript %}
