{% extends "site.html" %}

{% block title %}Matcher{% endblock %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="/static/css/suggest.min.css">
    <script type="text/javascript" src="/static/js/suggest.min.js"></script>
    <script type="text/javascript">

    $(document).ready(setupMatcher);

    function setupMatcher() {
        $(".topic")
            .suggest()
            .bind("fb-select", addSubject)
            .click(function(e) {$(this).trigger("keyup");});

        $(".ignore-keyword").click(function() {
            var tr = $(this).parent().parent().get(0);
            $(tr).fadeOut();
            var id = getKeywordId(tr);
            var parts = tr.id.split("_");
            id = parts[1];
            $.post("/keywords/" + id + "/", data={"ignore": true}, reloadTable)
        });
        $(".unlink-keyword").click(function() {
            var tr = $(this).parent().parent().get(0);
            var id = getKeywordId(tr);
            $.post("/keywords/" + id + "/", data={"unlink": true}, reloadTable)
        });
    }

    function getKeywordId(tr) {
        var parts = tr.id.split("_");
        return parts[1];
    }

    function addSubject(e, data) {
        var s = {
            subjectId: data.id,
            subjectName: data.name,
            subjectTypeId: data["n:type"]["id"],
            subjectTypeName: data["n:type"]["name"],
            keywordId: keywordId($(this).parent().parent().get(0))
        };
        $.post("/tags/", data=s, reloadTable);
    }

    function reloadTable() {
        var q = window.location.search;
        $("#matcher-table").load('/keywords/matcher/' + q, setupMatcher);
    }

    function keywordId(e) {
        return e.id.split("_")[1];
    }

    </script>
{% endblock %}

{% block content %}
    <div id="matcher-table">
    {% include "matcher_table.html" %}
    </div>
    {% include "paginator.html" %}
{% endblock %}
