<table>
<tr>
    <th>Mentions</th>
    <th>Job Keyword</th>
    <th>Freebase Subject</th>
    <th>Actions</th>
</tr>
{% for keyword in page.object_list %}
<tr id="keyword_{{ keyword.id }}" name="kw_{{ forloop.counter }}">
    <td class="keyword-count">{{ keyword.num_jobs }}</td>
    <td class="keyword">{{ keyword.name }}</td>
    <td class="freebase-concept">
        {% if keyword.subject %}
        <a href="{% url subject keyword.subject.slug %}">{{ keyword.subject.name }} </a>
        {% else %}
        <input class="topic" type="text" value="{{ keyword.name }}">
        {% endif %}
    </td>
    <td>
        {% if keyword.subject %}
        <a class="unlink-keyword" href="#kw_{{ forloop.counter }}">unlink</a>
        {% endif %}
        <a class="ignore-keyword" href="#kw_{{ forloop.counter }}">ignore</a>
    </td>
</tr>
{% endfor %}
</table>
