{% extends "site.html" %}

{% block content %}

<div class="row">

<section class="span9">

<form class="form-stacked" method="post">

    <fieldset>

    <legend>
    {% if user.profile.pic_url %}
    <img class="avatar" src="{{ user.profile.pic_url }}">
    {% endif %}
    {{ user.username }}'s settings
    </legend>

    <div class="clearfix">
        <label for="username">User Name</label>
    <div class="input">
    <input required type="text" name="username" value="{{ user.username }}">
    </div>
    </div>


    <div class="clearfix">
    <label for="first_name">First Name</label>
    <div class="input">
    <input type="text" name="first_name" value="{{ user.first_name }}">
    </div>
    </div>

    <div class="clearfix">
    <label for="last_name">Last Name</label>
    <div class="input">
    <input type="text" name="last_name" value="{{ user.last_name }}">
    </div>
    </div>

    <div class="clearfix">
    <label for="email">Email</label>
    <div class="input">
    <input type="email" name="email" value="{{ user.email }}">
    <span class="help-inline">Note: email will not be publicly displayed.</span>
    </div>
    </div>

    <div class="clearfix">
    <label for="home_url">Homepage</label>
    <div class="input">
    <input type="url" name="home_url" value="{{ user.profile.home_url}}">
    </div>
    </div>

    <div class="actions span4">
    <button type="submit" class="btn primary">Save</button>
    <button type="reset" class="btn">Reset</button>
    </div>

    {% csrf_token %}

    </fieldset>

</form>

</section>

<section class="social-providers">

<h4>Linked Accounts (click to unlink)</h4>
<ul>
{% for provider in user.profile.linked_providers %}
    <li><a href="{% url socialauth_disconnect provider %}?next=/profile/"><img src="{{ STATIC_URL }}/images/auth/{{ provider }}_64.png"></a></li>
{% endfor %}
</ul>

{% if user.profile.unlinked_providers %}
<h4>Unlinked Accounts</h4>
<ul>
    {% for provider in user.profile.unlinked_providers %}
    <li><a href="{% url socialauth_associate_begin provider %}?next=/profile/"><img src="{{ STATIC_URL }}/images/auth/{{ provider }}_64.png"></a></li>
{% endfor %}
</ul>
{% endif %}

</section>

</div>

{% endblock %}
