{% extends "site.html" %}

{% block title %}Reports{% endblock %}

{% block content %}

<div class="row">

    <article class="span8">
    <header>Top Jobs of the Month</header>
    <table class="zebra-striped border-table">
        <tr>
            <th>Job</th>
            <th>Page Views</th>
        </tr>
        {% for job in hotjobs_m %}
        <tr>
            <td><a href="{% url job job.id %}">{{ job }}</a><br><a href="{% url employer job.employer.id %}">{{ job.employer.name }}</a></td>
            <td>{{ job.page_views }}</td>
        </tr>
        {% endfor %}
    </table>
    </article>

    <article class="span8">
    <header>Top Jobs of the Year</header>
    <table class="zebra-striped border-table">
        <tr>
            <th>Job</th>
            <th>Page Views</th>
        </tr>
        {% for job in hotjobs_y %}
        <tr>
            <td><a href="{% url job job.id %}">{{ job }}</a><br><a href="{% url employer job.employer.id %}">{{ job.employer.name }}</a></td>
            <td>{{ job.page_views }}</td>
        </tr>
        {% endfor %}
    </table>
    </article>

</div>

<div class="row">

    <article class="span8">
    <header>Top Tags of the Month</header>
    <table class="zebra-striped bordered-table">
        <tr>
            <th>Tag</th>
            <th>Job Postings</th>
        </tr>
        {% for subject in subjects_m.all %}
        <tr>
            <td><a href="{% url jobs_by_subject subject.slug %}">{{ subject.name }}</a></td>
            <td>{{ subject.num_jobs }}</td>
        </tr>
        {% endfor %}
    </table>
    </article>

    <article class="span8">
    <header>Top Tags of the Year</header>
    <table class="zebra-striped bordered-table">
        <tr>
            <th>Tag</th>
            <th>Job Postings</th>
        </tr>
        {% for subject in subjects_y.all %}
        <tr>
            <td><a href="{% url jobs_by_subject subject.slug %}">{{ subject.name }}</a></td>
            <td>{{ subject.num_jobs }}</td>
        </tr>
        {% endfor %}
    </table>
    </article>

</div>

<div class="row">

    <article class="span8">
    <header>Top Employers of the Month</header>
    <table class="zebra-striped bordered-table">
        <tr>
            <th>Employer</th>
            <th>Job Postings</th>
        </tr>
        {% for employer in employers_m.all %}
        <tr>
            <td><a href="{% url employer employer.slug %}">{{ employer.name }}</a></td>
            <td>{{ employer.num_jobs }}</td>
        </tr>
        {% endfor %}
    </table>
    </article>

    <article class="span8">
    <header>Top Employers of the Year</header>
    <table class="zebra-striped bordered-table">
        <tr>
            <th>Employer</th>
            <th>Job Postings</th>
        </tr>
        {% for employer in employers_y.all %}
        <tr>
            <td><a href="{% url employer employer.slug %}">{{ employer.name }}</a></td>
            <td>{{ employer.num_jobs }}</td>
        </tr>
        {% endfor %}
    </table>
    </article>

{% endblock %}
