{% extends "site.html" %}

{% block title %}about{% endblock %}

{% block content %}

<script>
  (function() {

    // initial random canned searches 
    var qs = ["cat", "humor", "perl", "python", "ruby", "xml", "javascript", "java", "php", "archivesspace", "hydra", "omeka", "rdf", "xsl", "metadata"];
    var q = qs[Math.floor(Math.random() * qs.length)];
    if (! window.location.hash.match(/gsc.q/)) {
      window.location.hash = '#gsc.tab=0&gsc.q=' + q + '&gsc.sort=';
    }

    var cx = '001640895724279509587:la5xaiz2cl8';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<div class="span8 offset2">
  <gcse:search enableAutoComplete enableHistory="true"></gcse:search>
</div>

{% endblock %}
