{% extends "site.html" %}

{% block title %}about{% endblock %}

{% block content %}

<script>
  (function() {
    var cx = '001640895724279509587:la5xaiz2cl8';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

{% endblock %}
