<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-28140435-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
</script>
        {% block extra_head %}{% endblock %}

    </head>
    <body>
        <div class="container">
        <div class="row">

        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="/">code4lib-jobs</a>
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <ul class="secondary-nav">
                        {% if request.user.is_authenticated %}
                        <li>
                            <a style="color: yellow;" href="{% url user request.user.username %}">
                            <img class="tiny-avatar" src="{{ request.user.profile.pic_url }}">
                            {{ request.user.username }}
                        </a>
                        </li>
                        <li>
                            <a href="{% url logout %}">Logout</a>
                        </li>
                        {% else %}
                        <li><a href="{% url login %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer id="footer">
            <div class="container">
                <p>Footer</p>
            </div>
        </footer>

        </div>
        </div>

    </body>
</html>
