<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="/">code4lib-jobs</a>
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="content">
                <div class="page-header">
                    <h1>Page name <small>Supporting text or tagline</small></h1>
                </div>
                <div class="row">
                    <div class="span16">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>

            <footer>
                <p>Footer</p>
            </footer>

        </div>

    </body>
</html>
