<ul>
{% for s in user.social_auth.all %}

{% ifequal s.provider "twitter" %}
<li><a href="http://twitter.com/{{ user.profile.twitter_id }}"><img title="{{ user.get_full_name}} on Twitter" src="{{ STATIC_URL }}/images/auth/twitter_64.png"></a></li>
{% endifequal %}

{% ifequal s.provider "facebook" %}
<li><a href="http://www.facebook.com/profile.php?id={{ user.profile.facebook_id }}"><img title="{{ user.get_full_name }} on Facebook" src="{{ STATIC_URL }}/images/auth/facebook_64.png"></a></li>
{% endifequal %}

{% ifequal s.provider "linkedin" %}
<li><a href="http://www.linkedin.com/profile/view?id={{ s.uid }}"><img title="{{ user.profile.get_full_name}} on LinkedIn" src="{{ STATIC_URL }}/images/auth/linkedin_64.png"></a></li>
{% endifequal %}

{% ifequal s.provider "github" %}
<li><a href="http://www.github.com/{{ s.user }}"><img title="{{ user.get_full_name }} on GitHub" src="{{ STATIC_URL }}/images/auth/github_64.png"></a></li>
{% endifequal %}

{% endfor %}
</ul>
