{% extends "site.html" %}
{% load pagination_tags %}

{% block content %}
{% autopaginate subjects %}
{% paginate %}
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th></th>
    </tr>
{% for subject in subjects %}
    <tr>
        <td>
            <a href="{% url subject subject.slug %}">{{ subject.name }}</a>
        </td>
        <td><a href="{{ subject.freebase_type_url }}">{{ subject.type }}</a></td>
        <td><a href="{{ subject.freebase_url }}"><img class="freebase-icon" src="{{ STATIC_URL }}images/freebase.jpg"></a></td>
    </tr>
{% endfor %}
</table>
{% paginate %}
{% endblock %}
