{% extends "site.html" %}

{% block title %}{{ subject.name }}{% endblock %}

{% block content %}

<img style="float: left; padding: 5px;" src="{{ subject.freebase_image_url }}">

{{ subject.name }}<br>
<a href="{{ subject.freebase_url }}">{{ subject.freebase_url }}</a></br>
{{ subject.type }}<br>
<a href="{{ subject.freebase_type_url }}">{{ subject.freebase_type_url }}</a><br>

<ul style="clear: both;">
{% for job in jobs %}
<li><a href="{% url job job.id %}">{{ job.post_date }} - {{ job.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}
