{% extends "site.html" %}

{% block title %}Users{% endblock %}

{% block content %}

<div class="row">
    <div class="span3">&nbsp;</div>
    <div class="span10 users">
        <p>
        Here is a list of users who have created accounts here on 
        jobs.code4lib.org. You need to be a registered user to post
        jobs on jobs.code4lib.org. Registered users can also set up a profile
        to advertise skills and interests that might be of interest
        to employers.
        </p>
        <table class="zebra-striped bordered-table">
            {% for user in page.object_list %}
            <tr>
                <td><img class="tiny-avatar" src="{{ user.profile.pic_url }}"></td>
                <td><a href="{% url user user.username %}">{{ user.get_full_name }} ({{ user.username }})</a></td>
                <td class="social-small">
                    {% include "social.html" %}
                </td>
            </tr>
            {% endfor %}
        </table>
</div>
</div>

{% include "paginator.html" %}
{% endblock %}

