{% extends "site.html" %}

{% block title %}Users{% endblock %}

{% block content %}

<div class="row">
    <div class="span10 offset1 users">
        <p>
        Here is a list of users who have created accounts here on 
        jobs.code4lib.org. You need to be a registered user to post
        jobs on jobs.code4lib.org. Registered users can also set up a profile
        to advertise skills and interests that might be of interest
        to employers.
        </p>
        <table class="table table-striped">
            <tr>
                <th>Icon</th>
                <th>User</th>
                <th>Edits</th>
                <th>Social Links</th>
            </tr>
            {% for user in page.object_list %}
            <tr>
                <td><img class="tiny-avatar" src="{{ user.profile.pic_url }}"></td>
                <td><a href="{% url user user.username %}">{{ user.get_full_name }} ({{ user.username }})</a></td>
                <td>{{ user.edits.count }}</td>
                <td class="social-small" style="text-align: left;">
                    {% include "social.html" %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% include "paginator.html" %}
    </div>
</div>

{% endblock %}

