{% extends "site.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<div class="row">

<div class="span2">&nbsp;</div>

<div class="span5">

<header>
{% if user.profile.pic_url %}
<img class="avatar" src="{{ user.profile.pic_url }}">
{% endif %}
{{ user.username }}
</header>

<dl>
    <dt>name:</dt>
    <dd>{{ user.get_full_name }}</dd>
    <dt>member since:<dt>
    <dd><time>{{ user.date_joined }}</time></dd>
    <dt>homepage:</dt>
    <dd><a rel="self" href="{{ user.profile.home_url }}">{{ user.profile.home_url }}</a></dd>
</dl>


{% if can_edit %}
<a href="{% url profile %}">
    <button class="btn primary">Edit</button>
</a>
{% endif %}

</div>

<div class="social-providers span4">
{% if user.profile.linked_providers %}
<header>See Also:</header>
{% include "social.html" %}
{% endif %}
</div>

</div>

{% endblock %}
